{% extends "base.html" %}
{% block content %}
<style>
    .inline-submit-section {
        position: relative;
        width: 100%;
    }
    .sentence-wrapper {
        position: absolute;
        display: inline-block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        left: 0;
        right: 100px;
    }
    .intent-sentence {
        width: 100%;
        margin: 25px 0px 0px 5px;
        padding: 5px;
        border: 1px solid #999999;
        height: 35px;
        
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .submit-button {
        position: absolute;
        background-color: #4CAF50;
        text-align: center;
        border: none;
        border-radius: 4px;
        outline: none;
        display: inline-block;
        right: 5;
        margin: 25px 0px 0px 10px;
        width: 80px;
        color: #fff;
        padding: 7px;
        font-style: italic;
        cursor: pointer;

        box-shadow: 0 3px #999;
    }
    .submit-button:hover {
        background-color: #3e8e41;
    }
    .submit-button:active {
        background-color: #3e8e41;
        box-shadow: 0 2px #666;
        transform: translateY(1px);
    }
    .delete-button {
        background-color: #8e0000;
        text-align: center;
        border: none;
        border-radius: 4px;
        outline: none;
        display: inline-block;
        right: 5;
        width: 80px;
        color: #fff;
        padding: 7px;
        font-style: italic;
        cursor: pointer;

        box-shadow: 0 3px #999;
    }
    .delete-button:hover {
        background-color: #8e3e59;
    }
    .delete-button:active {
        background-color: #6e3e56;
        box-shadow: 0 2px #666;
        transform: translateY(1px);
    }
    .existingIntents-table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    .existingIntents-table td, .existingIntents-table th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .existingIntents-table tr:nth-child(even){background-color: #f2f2f2;}

    .existingIntents-table tr:hover {background-color: #ddd;}

    .existingIntents-table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }
</style>
<body>
<h2>Submit Intents</h2>
{% if submitted %}
<p class="success">
Your message was submitted successfully. Thank you.
{% endif %}
</p>
<div>
    <form id="submit_intent_form" action="" method="post" novalidate>
        {% csrf_token %}
        
        <div id="inlineSection" class="inline-submit-section" style="background-color:rgba(11, 29, 12, 0.178)">
            <div id="radioButtonContainer">
                {{form.intent_label_choices}}
                <!-- {{form.intent_label_choices.errors}} -->
                <table border="0">
                {% for slot_choice,slot_name in form.slots_choices.field.choices %}
                <tr>
                  <td>
                    <input type="button" name="slots_choices" style= "background-color: {{ slot_choice.color_hex }}" value={{ slot_choice.slot_name }}> <br>
                  </td>
                </tr>
                <!-- &nbsp; -->
              {% endfor %}
              <tr>
                <td>
                  <input type="button" id="clearSlots" name="slots_choices" style= "background-color: silver" value="clear slot"> <br>
                </td>
              </tr>
            </table>
                <br>
            </div>
            <span class="sentence-wrapper">
                {{form.seq_in_field}}
            </span>
            <!-- <div id="submit_btn1" type="submit" value="Submit" class="submit-button"> -->
            <span style="clear: both;"></span>
            <br><br><br>
            <span class="sentence-wrapper">
                {{form.seq_out_field}}
            </span>
                <input hidden id="submit_btn" name="submit_btn" type="submit" value="Submit" class="submit-button">
            <span style="clear: both;"></span>
            <br><br><br><br>
            </div>

            <!-- {{ form.seq_in_field.errors }} -->
            <!-- {{ form.seq_in_field.help_text }}
            {{ form.non_field_errors }}
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }} -->
            <!-- {% endfor %} -->
        </div>
        <div id="currentIntentDiv"></div>
        <b>Existing Intents:</b><br>
        <div id="existingIntentsDiv">
            <table id="existingIntentsTable" class="existingIntents-table">
                <tr>
                    <td>empty...</td>
                </tr>
            </table>
        </div>
        <!-- {{ form.existing_intent }} -->
        <br>
        {{form.intent_id_to_delete}}
    </form>
</div>
<script>
const radiobuttons = document.getElementsByName('slots_choices');
const intent_label_choices = document.getElementById('id_intent_label_choices');
const radioButtonContainer = document.getElementById("radioButtonContainer");
const form = document.getElementById("submit_intent_form");
const submit_btn = document.getElementById("submit_btn");
const seq_in_field = document.getElementById("id_seq_in_field");
const seq_out_field = document.getElementById("id_seq_out_field");
const currentIntentDiv = document.getElementById("currentIntentDiv");
const existingIntentsTable = document.getElementById("existingIntentsTable");
const intents_json = JSON.parse("{{form.intents_json|escapejs}}");
const existing_intents_json = JSON.parse("{{form.existing_intents_json|escapejs}}");
const intent_id_to_delete = document.getElementById("id_intent_id_to_delete");
console.log(existing_intents_json);
submit_btn.style.visibility = 'hidden';
intent_label_choices.value = localStorage['id_intent_label_choices'];
displayExistingIntentsColored();

radiobuttons.forEach(radiobutton => {
    radiobutton.addEventListener('mousedown', e => {
        event.preventDefault();
    });
    if (radiobutton.id !== "clearSlots")
        radiobutton.addEventListener('click', function() {
                updateMask(this.value);
            }); 
    else
        radiobutton.addEventListener('click', function() {
                updateMask("",true);
            }); 
});
radioButtonContainer.addEventListener('mousedown', e => {
    var targetElement = event.target || event.srcElement;
    if (targetElement == intent_label_choices){
    }
    else
        event.preventDefault();
});

function updateForm(){
    localStorage['id_intent_label_choices'] = intent_label_choices.value;
    form.submit();
}

function removeIntent(id){
    if (id){
        intent_id_to_delete.value = id;
        form.submit();
    }

}

function appendColoredTextToDiv(div, wordsArray, masksArray, slot_colors, clear=false){
    if (clear)
        div.innerHTML = ""
    if (wordsArray.length === masksArray.length){
        for (var i = 0 ; i<masksArray.length ; i++){
            var newSpan = document.createElement('span');
            var blankSpan = document.createElement('span');
            const slotName = masksArray[i].replace('B-','').replace('I-','');
            newSpan.innerHTML = wordsArray[i];
            blankSpan.innerHTML = '&nbsp;';
            if (slot_colors.hasOwnProperty(slotName))
                color = slot_colors[slotName];
            else
                color = "#AAAAAA";
            if (masksArray[i] !== "O"){
                newSpan.style = "background-color:"+color;
                if (masksArray[i].includes("I-"))
                    blankSpan.style = "background-color:"+color;
            }
            div.appendChild(blankSpan);
            div.appendChild(newSpan);
        }
    }
}
// existing_intents_json

function displayExistingIntentsColored(){
    var wordsArray;
    var masksArray;
    var intent_name;
    var slot_colors;
    existingIntentsTable.innerHTML = ""
    for (var i=0;i<existing_intents_json.length;i++){
        // console.log(existing_intents_json[i])
        wordsArray = existing_intents_json[i]["seq_in"].split(' ');
        masksArray = existing_intents_json[i]["seq_out"].split(' ');
        intent_name = existing_intents_json[i]["label"];
        slot_colors = intents_json[intent_name];
        var row = existingIntentsTable.insertRow(-1);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        cell2.align="center";
        var deleteButton = document.createElement("BUTTON");
        deleteButton.name = "deleteCell";
        const intentId = existing_intents_json[i]["id"];
        deleteButton.addEventListener('click', function() {removeIntent(intentId);}, false);
        
        deleteButton.innerHTML = "delete";
        deleteButton.className="delete-button";
        cell2.appendChild(deleteButton);
        
        appendColoredTextToDiv(cell1,wordsArray, masksArray, slot_colors);
        // existingIntentsDiv.appendChild(document.createElement("br"));
    }

}

function displayCurrentIntentColored(){
    const wordsArray = seq_in_field.value.replace(/\s\s+/g, ' ').trim().toLowerCase().split(' ');
    const masksArray = maskArray = seq_out_field.value.split(' ');
    const intent_name = intent_label_choices.value;
    const slot_colors = intents_json[intent_name];
    appendColoredTextToDiv(currentIntentDiv,wordsArray, masksArray, slot_colors, clear=true);
    if (seq_in_field.value!=="" && wordsArray.length === masksArray.length)
        submit_btn.style.visibility = 'visible';
    else
        submit_btn.style.visibility = 'hidden';
}

function updateMask(slot, clear=false){
    const text = seq_in_field.value.replace(/\s\s+/g, ' ').trim();
    const selectionStart = seq_in_field.selectionStart;
    const selectionEnd = seq_in_field.selectionEnd;
    var maskArray;

    if (seq_out_field.value!=='' && seq_out_field.value.split(' ').length === text.split(' ').length){
        maskArray = seq_out_field.value.split(' ');
    }else
        maskArray = new Array(text.split(' ').length).fill('O');
    if (slot!=undefined){
        var atBlank = false; // this is to handle erroneous mutliple blanks
        var atSlot = false;
        var bPrefixUsed = false;
        var j = 0;
        for (var i = 0; i < text.length; i++) {
            if (i >= selectionStart && i < selectionEnd)
                atSlot = true;
            else if (i > selectionEnd)
                atSlot = false;
            if (text.charAt(i)!==' ' && atBlank){
                atBlank = false;
            }
            if ((text.charAt(i)===' ' || i===text.length-1) && !atBlank){
                atBlank = true;
                if (atSlot && !clear){
                    if (!bPrefixUsed){
                        maskArray[j]="B-"+slot;
                        bPrefixUsed = true;
                    }
                    else
                        maskArray[j]="I-"+slot;
                }
                else if (atSlot)
                    maskArray[j]="O";
                j++;
            }
        }
    }
    seq_out_field.value = maskArray.join(' ');
    displayCurrentIntentColored();
}

</script>

</body>
{% endblock content %}
    