{% extends "base.html" %}
{% block content %}
<style>
    .inline-submit-section {
    position: relative;
    width: 100%;
    }
    .sentence-wrapper {
    position: absolute;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 0;
    right: 100px;
    }
    .intent-sentence {
    width: 100%;
    margin: 25px 0px 0px 5px;
    padding: 5px;
    border: 1px solid #999999;
    height: 35px;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    .submit-button {
    position: absolute;
    background-color: #4CAF50;
    text-align: center;
    border: none;
    border-radius: 4px;
    outline: none;
    display: inline-block;
    right: 5;
    margin: 25px 0px 0px 10px;
    width: 80px;
    color: #fff;
    padding: 7px;
    font-style: italic;
    cursor: pointer;

    box-shadow: 0 3px #999;
    }
    .submit-button:hover {
    background-color: #3e8e41;
    }
    .submit-button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(1px);
    }

</style>
<body>
<h2>Text Select Example</h2>
{% if submitted %}
<p class="success">
Your message was submitted successfully. Thank you.
{% endif %}
</p>
<div>
    <form id="submit_intent_form" action="" method="post" novalidate>
        {% csrf_token %}
        
        <div id="inlineSection" class="inline-submit-section" style="background-color:rgba(11, 29, 12, 0.178)">
            <div id="radioButtonContainer">
                {{form.intent_label_choices}}
                <!-- {{form.intent_label_choices.errors}} -->
                <table border="0">
                {% for slot_choice,slot_name in form.slots_choices.field.choices %}
                <tr>
                  <td>
                    <input type="button" name="slots_choices" style= "background-color: {{ slot_choice.color_hex }}" value={{ slot_choice.slot_name }}> <br>
                  </td>
                </tr>
                <!-- &nbsp; -->
              {% endfor %}
              <tr>
                <td>
                  <input type="button" id="clearSlots" name="slots_choices" style= "background-color: silver" value="clear slot"> <br>
                </td>
              </tr>
            </table>
                <br>
            </div>
            <span class="sentence-wrapper">
                {{form.intent_field}}
            </span>
            <!-- <div id="submit_btn1" type="submit" value="Submit" class="submit-button"> -->
            <span style="clear: both;"></span>
            <br><br><br>
            <span class="sentence-wrapper">
                {{form.mask_field}}
            </span>
                <input hidden id="submit_btn" type="submit" value="Submit" class="submit-button">
            <span style="clear: both;"></span>
            <br><br><br><br>
            </div>

            <!-- {{ form.intent_field.errors }} -->
            <!-- {{ form.intent_field.help_text }}
            {{ form.non_field_errors }}
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }} -->
            <!-- {% endfor %} -->
        </div>
        <inp id="coloredTextDiv" max-width="100px" ></div>
        <br>

    </form>
</div>
<script>
const radiobuttons = document.getElementsByName('slots_choices');
const intent_label_choices = document.getElementById('id_intent_label_choices');
const radioButtonContainer = document.getElementById("radioButtonContainer");
const form = document.getElementById("submit_intent_form");
const submit_btn = document.getElementById("submit_btn");
const intent_field = document.getElementById("id_intent_field");
const mask_field = document.getElementById("id_mask_field");
const coloredTextDiv = document.getElementById("coloredTextDiv");
const intents_json = JSON.parse("{{form.intents_json|escapejs}}");

submit_btn.style.visibility = 'hidden';
intent_label_choices.value = localStorage['id_intent_label_choices'];

radiobuttons.forEach(radiobutton => {
    radiobutton.addEventListener('mousedown', e => {
        event.preventDefault();
    });
    if (radiobutton.id !== "clearSlots")
        radiobutton.addEventListener('click', function() {
                updateMask(this.value);
                selectedDiv();
            }); 
    else
        radiobutton.addEventListener('click', function() {
                    updateMask("",true);
                }); 
});
radioButtonContainer.addEventListener('mousedown', e => {
    var targetElement = event.target || event.srcElement;
    if (targetElement == intent_label_choices){
    }
    else
        event.preventDefault();
});

function updateForm(){
    localStorage['id_intent_label_choices'] = intent_label_choices.value;
    form.submit();
}

function printColoredTextToDiv(div, wordsArray, masksArray, intent_slot_colors){
    div.innerHTML = ""
    if (wordsArray.length === masksArray.length){
        for (var i = 0 ; i<masksArray.length ; i++){
            var newSpan = document.createElement('span');
            var blankSpan = document.createElement('span');
            const slotName = masksArray[i].replace('B-','').replace('I-','');
            newSpan.innerHTML = wordsArray[i];
            blankSpan.innerHTML = '&nbsp;';
            if (intent_slot_colors.hasOwnProperty(slotName))
                color = intent_slot_colors[slotName];
            else
                color = "#AAAAAA";
            if (masksArray[i] !== "O"){
                newSpan.style = "background-color:"+color;
                if (masksArray[i].includes("I-"))
                    blankSpan.style = "background-color:"+color;
            }
            div.appendChild(blankSpan);
            div.appendChild(newSpan);
        }
    }
}

function printSlotColoredText(){
    const wordsArray = intent_field.value.replace(/\s\s+/g, ' ').trim().toLowerCase().split(' ');
    const masksArray = maskArray = mask_field.value.split(' ');
    const intent_name = intent_label_choices.value;
    const intent_slot_colors = intents_json[intent_name];
    // console.log(intent_slot_colors)
    printColoredTextToDiv(coloredTextDiv,wordsArray, masksArray, intent_slot_colors);
    if (intent_field.value!=="" && wordsArray.length === masksArray.length)
        submit_btn.style.visibility = 'visible';
    else
        submit_btn.style.visibility = 'hidden';
}
// console.log(intents_json);
printSlotColoredText();
function selectedDiv(){
    const selectionStart = coloredTextDiv.selectionStart;
    const selectionEnd = coloredTextDiv.selectionEnd;
    // console.log(selectionStart);
    // console.log(selectionEnd);
}
// console.log(intents_json.dsdsa[1].slot_name)
function updateMask(slot, clear=false){
    const text = intent_field.value.replace(/\s\s+/g, ' ').trim();
    const selectionStart = intent_field.selectionStart;
    const selectionEnd = intent_field.selectionEnd;
    var maskArray;

    if (mask_field.value && mask_field.value.split(' ').length === text.split(' ').length){
        maskArray = mask_field.value.split(' ');
    }else
        maskArray = new Array(text.split(' ').length).fill('O');
    var atBlank = false; // this is to handle erroneous mutliple blanks
    var atSlot = false;
    var bPrefixUsed = false;
    var j = 0;
    for (var i = 0; i < text.length; i++) {
        if (i >= selectionStart && i < selectionEnd)
            atSlot = true;
        else if (i > selectionEnd)
            atSlot = false;
        if (text.charAt(i)!==' ' && atBlank){
            atBlank = false;
        }
        if ((text.charAt(i)===' ' || i===text.length-1) && !atBlank){
            atBlank = true;
            if (atSlot && !clear){
                if (!bPrefixUsed){
                    maskArray[j]="B-"+slot;
                    bPrefixUsed = true;
                }
                else
                    maskArray[j]="I-"+slot;
            }
            else if (atSlot)
                maskArray[j]="O";
            j++;
        }
    }

    mask_field.value = maskArray.join(' ');
    printSlotColoredText();
}

</script>

</body>
{% endblock content %}
    