{% extends "base.html" %}
{% block content %}
<style>
    .inline-submit-section {
        position: relative;
        width: 100%;
    }
    .sentence-wrapper {
        position: absolute;
        display: inline-block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        left: 0;
        right: 100px;
    }
    .intent-sentence {
        width: 100%;
        margin: 10px 0px 0px 5px;
        padding: 5px;
        border: 1px solid #999999;
        height: 35px;
        font-size: 14px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .submit-button {
        position: absolute;
        background-color: #4CAF50;
        text-align: center;
        border: none;
        border-radius: 4px;
        outline: none;
        display: inline-block;
        right: 5;
        margin: 11px 0px 0px 10px;
        width: 80px;
        color: #fff;
        padding: 7px;
        font-style: italic;
        cursor: pointer;

        box-shadow: 0 3px #999;
    }
    .submit-button:hover {
        background-color: #3e8e41;
    }
    .submit-button:active {
        background-color: #3e8e41;
        box-shadow: 0 2px #666;
        transform: translateY(1px);
    }
    .delete-button {
        position: static;
        background-color: #8e0000;
        margin:unset;
    }
    .delete-button:hover {
        background-color: #8e3e59;
    }
    .delete-button:active {
        background-color: #6e3e56;
    }
    .settings-button {
        position: static;
        background-color: #6e6e6e;
        margin:unset;
    }
    .settings-button:hover {
        background-color: #3a3a3a;
    }
    .settings-button:active {
        background-color: #756d71;
    }
    .existingIntents-table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    .existingIntents-table td, .existingIntents-table th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .existingIntents-table tr:nth-child(even){background-color: #f2f2f2;}

    .existingIntents-table tr:hover {background-color: #ddd;}

    .existingIntents-table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }
    .styled-text {
    padding-left: 5px;
    padding-right: 5px;
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
    }

    .colored-text {
    text-decoration: none;
    color: #008CBA;
    }
    #existingIntentsDiv {
    position: fixed;
    bottom: 0;
    top:500;
    width: 95%;
    overflow: auto;
    }
    .grid-container {
    width: min-content;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    }
    .slotBtn {
        background-color: #4CAF50; /* Green */
        border: 1px solid gray;
        /* color: white; */
        padding: 3px 3px;
        min-width: 90px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        /* font-size: 16px; */
        margin: 4px 2px;
        cursor: pointer;
    }
    .slotBtn:hover {
        border: 1px solid rgba(0, 0, 0, 0.8);
    }
    .slotBtn:active {
        transform: translateY(1px);
    }

</style>
<body>
<h2>Submit Intents</h2>
{% if submitted %}
<p class="success">
Your message was submitted successfully. Thank you.
{% endif %}
</p>
<div>
    <form id="submit_intent_form" action="" method="post" novalidate>
        {% csrf_token %}
        
        <div id="inlineSection" class="inline-submit-section" style="background-color:rgba(11, 29, 12, 0.178)">
            <div id="radioButtonContainer">
                {{form.intent_label_choices}}
                <!-- {{form.intent_label_choices.errors}} -->
            <table style="width:100%"><tr>
                <td><div class="grid-container">
                {% for slot_choice,slot_name in form.slots_choices.field.choices %}
                    <input class="slotBtn" type="button" name="slots_choices" style= "background-color: {{ slot_choice.color_hex }}" value={{ slot_choice.slot_name }}>
                {% endfor %}
                <input class="slotBtn" type="button" id="clearSlots" name="slots_choices" style= "background-color: #C0C0C0" value="clear slot"> <br>
                </div></td>
                <td id="settings_column" style="vertical-align:top;">
                    <table style="float:right;background-color: rgb(235, 235, 235);">
                        <tr><td>
                            <p>Excempt following slots from augmentation steps:</p>
                            <label>Stemmify:</label>
                            {{form.excempt_stemmify}}<p>
                            <label>Synonyms:</label>
                            {{form.excempt_synonym}}<p>
                            <label>No shuffle list:</label>
                            {{form.excempt_shuffle}}<p>
                            </td>
                        </tr>
                        <tr><td>
                            <br>
                            <input name="settings_submit" value="Update" type="submit" class="submit-button settings-button" >
                        </td></tr>
                    </table>
                </td> 
            </tr></table>
            </div>
            <span id="inputStatusText" class="styled-text"></span>
            <br>
            <span class="sentence-wrapper">{{form.seq_in_field}}</span>
            <input id="cancel_btn" name="cancel_btn" value="Cancel" class="submit-button" onclick="formAppearance.disallowEdit()">
            <!-- <span style="clear: both;"></span> -->
            <br><br><br>
            <span class="sentence-wrapper">{{form.seq_out_field}}</span>
            <input id="submit_btn" name="submit_btn" type="submit" value="Submit" class="submit-button">
            <span style="clear: both;"></span>
            <br><br><br>
            </div>

            <!-- {{ form.seq_in_field.errors }} -->
            <!-- {{ form.seq_in_field.help_text }}
            {{ form.non_field_errors }}
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }} -->
            <!-- {% endfor %} -->
        </div>
        <div id="currentIntentDiv"><br></div><br>
        <div id="tableTitle" ><b>Existing Intents:</b><br></div>
        <div id="existingIntentsDiv" onscroll="existingIntentsDivScroll()">
            <table id="existingIntentsTable" class="existingIntents-table">
                <tr>
                    <td>empty...</td>
                </tr>
            </table>
        </div>
        <br>
        {{form.intent_id_to_delete}}
        {{form.intent_id_to_modify}}
    </form>
</div>
<script>
const slotBtns = document.getElementsByName('slots_choices');
const intent_label_choices = document.getElementById('id_intent_label_choices');
const radioButtonContainer = document.getElementById("radioButtonContainer");
const form = document.getElementById("submit_intent_form");
const settings_column = document.getElementById('settings_column');

 
const seq_in_field = document.getElementById("id_seq_in_field");
const seq_out_field = document.getElementById("id_seq_out_field");
const currentIntentDiv = document.getElementById("currentIntentDiv");
const existingIntentsTable = document.getElementById("existingIntentsTable");
const intents_json = JSON.parse("{{form.intents_json|escapejs}}");
const existing_intents_json = JSON.parse("{{form.existing_intents_json|escapejs}}");
const existingIntentsDiv = document.getElementById('existingIntentsDiv');

intent_label_choices.value = localStorage['id_intent_label_choices'];
displayExistingIntentsColored();
existingIntentsDiv.scrollTop = localStorage['existingIntentsDiv'];
existingIntentsDiv.style.top = /*window.scrollY +*/ document.querySelector('#tableTitle').getBoundingClientRect().bottom;

function existingIntentsDivScroll(){
    localStorage['existingIntentsDiv'] = existingIntentsDiv.scrollTop;
}

function getContrastYIQ(hexcolor){
    hexcolor = hexcolor.replace("#", "");
    var r = parseInt(hexcolor.substr(0,2),16);
    var g = parseInt(hexcolor.substr(2,2),16);
    var b = parseInt(hexcolor.substr(4,2),16);
    var yiq = ((r*299)+(g*587)+(b*114))/1000;
    // 128
    return (yiq >= 60) ? 'black' : 'white';
}
function rgb2hex(rgb) {
    rgb_ = rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
    if (!rgb_ || rgb_.length<3)
        return rgb
    else
        rgb=rgb_
    function hex(x) {
        return ("0" + parseInt(x).toString(16)).slice(-2);
    }
    return "#" + hex(rgb[1]) + hex(rgb[2]) + hex(rgb[3]);
}
function adjustTextColor(obj){
    const hex_color = rgb2hex(obj.style["background-color"]);
    obj.style.color = getContrastYIQ(hex_color);
}
slotBtns.forEach(function(btn) {
    adjustTextColor(btn);
});

class FormAppearance {
  constructor() {
    this.submit_btn = document.getElementById("submit_btn");
    this.cancel_btn = document.getElementById("cancel_btn");
    this.intent_id_to_modify = document.getElementById("id_intent_id_to_modify");
    this.inputStatusText = document.getElementById("inputStatusText");
    this.submit_btn.style.visibility = 'hidden';
    this.cancel_btn.style.visibility = 'hidden'; 
  }
  allowSubmit(){
    this.submit_btn.style.visibility = 'visible';
  }
  disallowSubmit(){
    this.submit_btn.style.visibility = 'hidden';
  }
  allowEdit(id, seq_in, seq_out){
    this.cancel_btn.style.visibility = 'visible';
    this.inputStatusText.innerHTML="Editing:";
    this.intent_id_to_modify.value = id;
    seq_in_field.value = seq_in;
    seq_out_field.value = seq_out;
    displayCurrentIntentColored();
  }
  disallowEdit(){
    this.cancel_btn.style.visibility = 'hidden';
    this.inputStatusText.innerHTML="";
    this.intent_id_to_modify.value = '';
  }
}
const formAppearance = new FormAppearance();

slotBtns.forEach(radiobutton => {
    radiobutton.addEventListener('mousedown', e => {
        event.preventDefault();
    });
    if (radiobutton.id !== "clearSlots")
        radiobutton.addEventListener('click', function() {
                updateMask(this.value);
            }); 
    else
        radiobutton.addEventListener('click', function() {
                updateMask("",true);
            });
});
radioButtonContainer.addEventListener('mousedown', e => {
    var targetElement = event.target || event.srcElement;
    if (targetElement != intent_label_choices && !settings_column.contains(targetElement))
        event.preventDefault();
});

function updateForm(){
    localStorage['id_intent_label_choices'] = intent_label_choices.value;
    form.submit();
}

function removeIntent(id){
    if (id){
        document.getElementById("id_intent_id_to_delete").value = id;
        form.submit();
    }
}

function appendColoredTextToDiv(div, wordsArray, masksArray, slot_colors, clear=false, is_synthetic=false){
    if (clear)
        div.innerHTML = ""
    if (wordsArray.length === masksArray.length){
        for (var i = 0 ; i<masksArray.length ; i++){
            var newSpan = document.createElement('span');
            var blankSpan = document.createElement('span');
            const slotName = masksArray[i].replace('B-','').replace('I-','');
            newSpan.innerHTML = wordsArray[i];
            blankSpan.innerHTML = '&nbsp;';
            if (slot_colors.hasOwnProperty(slotName))
                color = slot_colors[slotName];
            else
                color = "#AAAAAA";
            if (masksArray[i] !== "O"){
                newSpan.style = "background-color:"+color;
                adjustTextColor(newSpan);
                if (masksArray[i].includes("I-"))
                    blankSpan.style = "background-color:"+color;
            }
            div.appendChild(blankSpan);
            if (is_synthetic)
                newSpan.style.color = '#0000A0';
            div.appendChild(newSpan);
        }
    }
}
// existing_intents_json

function displayExistingIntentsColored(){
    const intents_count = existing_intents_json.length;
    var intent_name;
    var slot_colors;
    document.getElementById("tableTitle").innerHTML="<b>Existing Intents ("+intents_count+"):</b>";
    existingIntentsTable.innerHTML = ""
    for (var i=0;i<intents_count;i++){
        // console.log(existing_intents_json[i])
        const seq_in = existing_intents_json[i]["seq_in"];
        const seq_out = existing_intents_json[i]["seq_out"];
        intent_name = existing_intents_json[i]["label"];
        slot_colors = intents_json[intent_name];
        const is_synthetic = existing_intents_json[i]["is_synthetic"];
        var row = existingIntentsTable.insertRow(-1);
        var cell0 = row.insertCell(0);
        var cell1 = row.insertCell(1);
        cell1.align="center";
        var deleteButton = document.createElement("BUTTON");
        deleteButton.name = "deleteCell";
        const intentId = existing_intents_json[i]["id"];
        cell0.addEventListener('click', function() {formAppearance.allowEdit(intentId, seq_in, seq_out);}, false);
        deleteButton.addEventListener('click', function() {removeIntent(intentId);}, false);
        
        deleteButton.innerHTML = "delete";
        deleteButton.className="submit-button delete-button";
        cell1.appendChild(deleteButton);
        
        appendColoredTextToDiv(cell0, seq_in.split(' '), seq_out.split(' '), slot_colors, false, is_synthetic);
    }

}

function displayCurrentIntentColored(){
    const wordsArray = seq_in_field.value.replace(/\s\s+/g, ' ').trim().toLowerCase().split(' ');
    const masksArray = maskArray = seq_out_field.value.split(' ');
    const intent_name = intent_label_choices.value;
    const slot_colors = intents_json[intent_name];
    appendColoredTextToDiv(currentIntentDiv,wordsArray, masksArray, slot_colors, clear=true);
    if (seq_in_field.value!=="" && wordsArray.length === masksArray.length)
        formAppearance.allowSubmit();
    else
        formAppearance.disallowSubmit();
}

//if user trys to input B-differentslot I-slot, fix it
function fixBrokenSlots(){
    maskArray = seq_out_field.value.split(' ');
    if (maskArray.length && maskArray[0].startsWith("I-"))
        maskArray[0].replace("I-","B-");
    for (var i=1 ;i<maskArray.length; i++){
        console.log(maskArray[i]);
        if (maskArray[i].startsWith("I-") && maskArray[i-1]!=maskArray[i].replace("I-","B-") && maskArray[i-1]!=maskArray[i]){
            
            maskArray[i] = maskArray[i].replace("I-","B-");
        }
    }
    seq_out_field.value = maskArray.join(' ');

}

function updateMask(slot, clear=false){
    const text = seq_in_field.value.replace(/\s\s+/g, ' ').trim();
    const selectionStart = seq_in_field.selectionStart;
    const selectionEnd = seq_in_field.selectionEnd;
    var maskArray;

    if (seq_out_field.value!=='' && seq_out_field.value.split(' ').length === text.split(' ').length){
        maskArray = seq_out_field.value.split(' ');
    }else
        maskArray = new Array(text.split(' ').length).fill('O');
    if (slot!=undefined){
        var atBlank = false; // this is to handle erroneous mutliple blanks
        var atSlot = false;
        var bPrefixUsed = false;
        var j = 0;
        for (var i = 0; i < text.length; i++) {
            if (i >= selectionStart && i < selectionEnd && text.charAt(i)!==' ')
                atSlot = true;
            else if (i > selectionEnd)
                atSlot = false;
            if (text.charAt(i)!==' ' && atBlank){
                atBlank = false;
            }
            if ((text.charAt(i)===' ' || i===text.length-1) && !atBlank){
                atBlank = true;
                if (atSlot && !clear){
                    if (!bPrefixUsed){
                        maskArray[j]="B-"+slot;
                        bPrefixUsed = true;
                    }
                    else
                        maskArray[j]="I-"+slot;
                }
                else if (atSlot)
                    maskArray[j]="O";
                j++;
            }
        }
    }
    seq_out_field.value = maskArray.join(' ');
    fixBrokenSlots();
    displayCurrentIntentColored();
}

</script>

</body>
{% endblock content %}
    